version: '3.7'

services:
  postgresql:
    container_name: 'crud-sql'
    image: bitnami/postgresql:14.7.0-debian-11-r10
    environment:
      POSTGRESQL_USERNAME: postgres
      POSTGRESQL_PASSWORD: password
      POSTGRESQL_DATABASE: postgres
    volumes:
      - ./configs/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
#    restart: always
